<meta name="theme-color" content="#00ff00">
<meta name="og:title" content="GreenCodes">
<meta property="og:description" content="A melhor loja de bots do discord, preço baixo e qualidade!">

<nav>
  <div class="nav-message">
    <br>
    <h1 style="color: #00ff00">Green</h1>
    <h1 style="color: #fff"> Codes</h1>
  </div>
  <div class="nav-categories">
    <a href="/">Início</a>
    <a href="/planos">Planos</a>
    <a href="/termos">Termos</a>
    <a href="/equipe">Equipe</a>
  </div>
  <div class="nav-dashboard">
    <a href="/discord"><button>Dashboard</button></a>
  </div>
</nav>