<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Equipe</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="equipe.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul class="cards">
      <li>
          <h1>blacknaut</h1>
          <img src="https://cdn.discordapp.com/attachments/1043299077141573712/1057772746391691264/PicsArt_10-08-09.06.18.jpg" class="card__image" alt="" style="border-radius: 50%;" />   
      </li>
      <li>
          <h1>Hugodoss</h1>
          <img src="https://cdn.discordapp.com/attachments/1040400117854912573/1057775920624181268/prf.gif" class="card__image" alt="" style="border-radius: 50%;" />
      </li>   
    </ul>
  </body>
</html>