<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Início</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css" />  
  <link href="cards.css" rel="stylesheet" type="text/css" />
  <link href="footer.css" rel="stylesheet" type="text/css" />
  <link href="inicio.css" rel="stylesheet" type="text/css" />  
</head>
  <body>
     <%- include('partials/navbar.ejs') %>
<div class="inicio">
   <div class="inicio-body"> 
        <h3>Oferecemos as melhores opções de bot para o seu Discord.</h3>
        <h5>Nós fornecemos uma ampla variedade de serviços totalmente configuráveis pelo usuário, sem a necessidade de contatar qualquer tipo de suporte para realizar alterações. Além disso, contamos com um atendimento de segunda a segunda, 24 horas por dia, garantindo assim uma excelente experiência para nossos clientes.</h5>
     </div>
</div>
<h1 class="especial">Oque nós oferemos?</h1>
<div class="card-container">
  <div class="card-body">
      <h3 class="card-title">Personalizável</h3>
      <h5 class="card-text">Nosso objetivo é oferecer aos nossos clientes a possibilidade de personalizar completamente todas as mensagens, canais, cargos e outras características de nossos bots de acordo com suas necessidades e preferências!</h5>
  </div>
<div class="card-body">
      <h3 class="card-title">Atendimento</h3>
      <h5 class="card-text">A nossa empresa se orgulha em oferecer um atendimento de primeira qualidade aos nossos clientes, disponível 24 horas por dia, 7 dias por semana. Além disso, nos esforçamos para garantir que cada cliente receba todo o apoio e assistência de que precisa, mesmo após a realização da compra. Estamos sempre prontos para ajudar e garantir a satisfação dos nossos clientes.</h5>
  </div>
  <div class="card-body">
      <h3 class="card-title">Otimização</h3>
      <h5 class="card-text">Na nossa empresa, acreditamos que a qualidade do funcionamento dos nossos bots é fundamental para a satisfação dos nossos clientes. Por isso, nos esforçamos constantemente para garantir que eles estejam sempre funcionando de maneira ótima, com o objetivo de atender às expectativas dos usuários e proporcionar uma velocidade de resposta o mais rápida possível. Acreditamos que essa é a chave para garantir a satisfação dos nossos clientes.</h5>
</div>
</div>


  </body>
</html>
