<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Início</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
  <body>
     <%- include('partials/navbar.ejs') %>
<br>
<br>
<br>
<br>
<br>
<br>
     <p>oi</p>
  </body>
</html>