<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Início</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
  <body>
     <%- include('partials/navbar.ejs') %>
     <h1 style="color:#00ff00;display: flex;justify-content: center;align-items: center;font-family: "Dancing Script", cursive;">Nossos Termos!</h1>
     <br>
     <h3 style="color:#00ff00;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">Artigo 1. Reembolso</h3>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">1.1 Após a entrega de seu bot você terá 7 dias para pedir reembolso de acordo com o art. 49 do Código de Defesa do Consumidor</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">1.2 Caso nossa equipe não conseguir fazer seu bot ligar ou funcionar você terá total direito de reembolso, Após os 7 dias o reembolso será parcial do valor que você pagou!</h5>
     <br>
     <h3 style="color:#00ff00;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">Artigo 2. Utilização do bot</h3>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">2.1 Na compra do bot o senhor pode colocar o bot em apenas 1 servidor caso contrario iremos suspender o seu serviço!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">2.2 Caso seu bot desligue ou algum erro relacionado contate nosso suporte!</h5>
     <br>
     <h3 style="color:#00ff00;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">Artigo 3. Hospedagem & Código</h3>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">3.1 Nós hospedamos seu bot não liberamos o código fonte!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">3.2 Preço da hospedagem pode mudar de acordo com o preço de nossas maquinas!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">3.3 Damos qualquer tipo de suporte ou alteração no produto!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">3.4 Garantimos um código original feito por nós da Green Codes!</h5>
     <br>
     <h3 style="color:#00ff00;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">Artigo 4. Pagamento</h3>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">4.1 Aceitamos os métodos de pagamento do inter, picpay & pix!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">4.2 Caso sua fatura atrase iremos desligar seu bot para quando ser pago o valor seu bot ficara online!</h5>
     <br>
     <h3 style="color:#00ff00;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">Artigo 5. Prazo de entrega</h3>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">5.1 Prazo de 7 dias para bots personalizados/encomendas!</h5>
     <h5 style="color:#fff;display: flex;justify-content: left;align-items: center;margin-left: 2cm;">5.2 Para bots já feitos que são os sistemas damos em media de 30 minutos a 2 horas para configuramos certinho do jeito que o senhor deseja!</h5>
  </body>
</html>